body{
  overflow-x: hidden;
}
.navbar .nav-item{
  padding:0 16px;
}
.navbar .navbar-brand{
  font-size: 30px;
}
.navbar a{
  font-size: 17px;
}
form label{
  font-weight: bold;
}
#showcase{
  background: url('../img/showcase.jpg') center top no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
#showcase .cov{
  position: absolute;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.8);
  z-index: 0;
}
#showcase .content{
  margin-top:250px;
}
#showcase .content h1{
  font-size: 55px;
}
#boxform{
  padding:100px;
}
#boxform img{
  text-align: center;
  width:120px;
}
#desc{
  padding:50px 0;
}
#desc img{
  width:300px;
}
.lighten{
  background: rgba(255,255,255,0.9);
}
#achieve{
  background: url('../img/8.jpeg') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color:#fff;
}
#achieve .con{
  background-color: rgba(0,0,0,0.7);
}
#achieve .ico{
  font-size: 300px;
  color:#0066ff;
}